

body {
    background-color: #8cc63f;

    background-size: 100px 82px;

    background-image: url('leaves-background.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.viewport {
    background-color: #fbf1c7;
    box-shadow: 2px 2px 6px #fbf1c7;
}

.top-left {
    position: absolute;
    margin-left: -35%;
    margin-top: -5%;

    width: 1440px;
    height: 440px;
}

.option-box {
    background-color: #fbf1c7;

    box-shadow: 2px 2px 6px #fbf1c7;
}

table {
    background-color: #fbf1c7;
}
