/* some style */

body {
    font-family: "Gotham","Libre Franklin", "Helvetica Neue", arial, sans-serif;
    font-size: 1.5rem;
    margin: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.title {
    text-align: center;
}

.viewport {
    position: relative;

    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 25rem;

    font-size: 4.5rem;

    border-radius: 28px;
}

.epigraph {
    margin: 1.25em 4rem 2em;
    padding: .5em 1.5em .375em;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

blockquote {
    border-left: none;
    margin-top: auto;
    margin-bottom: auto;

    font-family: 'Montserrat', sans-serif;
}

blockquote::before, blockquote::after {
    display: block;
    position: absolute;
    font-size: 2.5em;
}

blockquote::before {
    content: "\201C";
    top: -.2em;
    left: .045em;
}

blockquote::after {
    content: "\201D";
    bottom: -0.4em;
    right: 2em;
}

.quote {
    font-style: italic;
    font-size: 2.2rem;
}

.citation {
    position: absolute;
    bottom: 0;
}


select {
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

.options {
    display: flex;
    margin-top: 4rem;
    margin-left: 14rem;
    margin-right: 14rem;
}
.option-box {
    height: 6rem;
    width: 31rem;
    border-radius: 1rem;
    line-height: 6rem;

    margin: 1rem;
}
.option-text {
    padding-left: 2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.col {
    flex: 1;
}

.modal {
    display: none;
}
